html {
    box-sizing: border-box;
    font-size: 10px;
}

:root {
    --primary-color: #27ae60;
    --secondary-color: #2ecc71;
    --third-color: #141a0f;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

p {
    margin: 0;
}

body {
    font-family: "poppins";
    line-height: 1.6;
    font-size: 1.6rem;
    overflow-x: hidden;
}

/* 
Nav
*/

.header {
    background: url(../images/main.jpg);
    min-height: 45rem;
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding-top: 1rem;
}
.desktop-menu {
    display: none;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.nav__basket--mobile {
}
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    height: 5rem;
}
.nav__hamburger {
    cursor: pointer;
}
.nav__logo {
    font-size: 3rem;
    font-family: "poppins bold";
}
.menu {
    /* display: none; */
}
.menu--desktop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4rem;
    margin-right: 2rem;
}
.menu--desktop > .menu__item > .nav__link {
    color: black;
}
.menu--mobile {
    position: absolute;
    /* top: 5.5rem; */
    top: -20rem;
    width: 100%;
    background-color: rgb(77, 77, 77);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 1rem;
    padding: 1rem;
    border-radius: 1rem;
    transition: all 150ms ease-in;
}
.menu--mobile .menu__item {
}
.menu__item {
}
.nav__link {
    text-decoration: none;
    color: rgb(202, 202, 202);
}
.nav__basket {
    display: flex;
    align-items: center;
    gap: 1rem;
}
.nav__price {
}
.nav__count {
}
.nav__profile {
}

/* 
Header Content
*/
.header__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.header__welcome {
    font-size: 1.4rem;
    margin-bottom: 3rem;
    padding-top: 5rem;
}
.header__title {
    font-size: 4rem;
    font-family: "poppins light";
    margin-bottom: 3rem;
}
.button {
    text-decoration: none;
    font-size: 1.5rem;
    color: black;
    background-color: white;
    padding: 1rem 2rem;
    border-radius: 1rem;
}
.header__link {
}

/* 
Main
*/
.main {
    text-align: center;
    padding-top: 4rem;
}
.main__top {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}
.main__title {
    font-size: 3rem;
}
.main__link {
    background-color: var(--primary-color);
    color: white;
}

/* Product(s) */
.products {
    margin-top: 4rem;
}
.product {
    margin-bottom: 1rem;
}
.product__img-container {
    width: 100%;
}
.product__img {
    width: 100%;
}
.products__stars {
    text-align: start;
}
.product__title {
    font-size: 1.6rem;
    text-align: start;
    margin: 1.5rem 0;
}
.product__category {
    font-size: 1.4rem;
    text-align: start;
    margin: 1rem 0;
}
.product__price {
    font-size: 1.4rem;
    text-align: start;
    font-family: "poppins bold";
}

/* Story */
.story {
    margin-top: 10rem;
    text-align: start;
    margin-bottom: 10rem;
}
.story__img-container {
}
.story__img {
    width: 100%;
    max-height: 40rem;
    object-fit: cover;
    object-position: top;
}
.story-content {
    padding: 0 1.5rem;
    
}
.story-content__title-1 {
    font-size: 1.2rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
}
.story-content__title-2 {
    font-size: 3rem;
    margin-bottom: 2rem;
}
.story-content__caption {
    font-size: 1.4rem;
    margin-bottom: 3rem;
}
.story-content__link {
    color: white;
    background-color: var(--primary-color);
    margin-bottom: 2rem;
}

/* Customers */
.customers {
    margin-bottom: 10rem;
}
.customers__title {
    font-size: 2.8rem;
    margin-bottom: 2rem;
}
.customers__line {
    width: 4rem;
    height: 0.15rem;
    background-color: var(--secondary-color);
    margin: 0 auto;
}
.customer {
    margin-top: 4rem;
    font-size: 1.4rem;
}
.customer__icon {
    margin-bottom: 1rem;
}
.customer__comment {
    margin-bottom: 1rem;
}
.customer__img-container {
    margin-bottom: 1rem;
}
.customer__img {
    border-radius: 50%;
}
.customer__name {
    font-size: 1.2rem;
    letter-spacing: 0.3rem;
}

/* Gift */
.gift {
    background-image: url(../images/secondary2.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    /* padding: 3rem 8rem; */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 35rem;
    /* filter: blur(8px);
    -webkit-filter: blur(8px); */
}
.gift__content {
    padding: 0 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.gift__title-1 {
    font-size: 1.3rem;
}
.gift__title-2 {
    font-size: 3.2rem;
}
.gift__caption {
    font-size: 1.3rem;
}
.gift__link {
}

/* Feature */
.features {
    margin: 5rem 0;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem; */
}
.feature {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.feature__icon {
    width: 4rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    border-radius: 50%;
    margin: 0 auto;
    margin-bottom: 1rem;
}
.feature__title {
    font-size: 1.4rem;
}
.feature__caption {
    font-size: 1.4rem;
}

/* Socials */
.footer {
    background-color: var(--third-color);
}
.footer__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* padding: 5rem 2rem; */
}
.footer-menu {
    margin: 5rem 0;
}
.footer-menu__item {
}
.footer-menu__link {
    text-decoration: none;
    color: white;
    font-size: 1.4rem;
}
.footer__title {
    color: white;
    font-size: 2rem;
    margin-bottom: 2rem;
}
.footer__content {
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 2rem;
    flex-direction: column;
}
.footer__input {
    border: none;
    outline: none;
    border-radius: 1rem;
    height: 4.5rem;
    padding: 0 1rem;
}
.footer__button {
    height: 4.5rem;
    background-color: var(--secondary-color);
    color: black;
    text-align: center;
}
.socials {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin: 4rem 0;
    padding-bottom: 3rem;
    /* border-bottom: 1px solid white; */
}
.socials__icon {
}
.footer__line {
    height: 0.1rem;
    background-color: rgb(139, 139, 139);
    margin-bottom: 3rem;
}
.copywrite {
    color: rgb(181, 181, 181);
    padding-bottom: 3rem;
    text-align: center;
    font-size: 1.2rem;
}

.container {
    padding: 0 1.5rem;
}