@font-face {
    font-family: "poppins";
    src: url(../fonts/Poppins-Regular.ttf);
}
@font-face {
    font-family: "poppins black";
    src: url(../fonts/Poppins-Black.ttf);
}
@font-face {
    font-family: "poppins light";
    src: url(../fonts/Poppins-Light.ttf);
}
@font-face {
    font-family: "poppins extra light";
    src: url(../fonts/Poppins-ExtraLight.ttf);
}
@font-face {
    font-family: "poppins bold";
    src: url(../fonts/Poppins-Bold.ttf);
}
